@use "../../foundation/mixin";

.c-header__menu-btn{
    font-size: 2.0rem;
    display: block;
    margin-left: auto;
    font-weight: bold;
    color:#707070;
    @include mixin.mq-up('pc') {
        display: none;
    }
}

.c-menu__btn-close{
    font-size: 0;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 12px;
    right: 24px;
    display: block;
    margin-left: auto;
    @include mixin.mq-up('pc') {
        display: none;
    }

    &::before,&::after{
        content: "";
        position: absolute;
        top: 20px;
        right: 0px;
        display: block;
        background: #707070;
        width: 40px;
        height: 5px;
        transform: rotate(-45deg);
        z-index: 10;
    }
    &::after{
        transform: rotate(45deg);
    }
}

.c-archive__btn{
    background: #fff;
    color: #707070;
    font-weight: bold;
    border-radius: 30px;
    padding: 15px 20px;
    width: 50%;
    max-width: 163px;
    display: block;
    text-align: center;
    margin: auto;
    @include mixin.mq-up('pc') {
        width: 70%;
        max-width: 292px;
    }
}